html{
  background: #000;
}
body{
    background: #6592CF;
    margin: 0 auto;
    width: 300px;
    height: 100px;
  }
  .a {
    width: 300px;
    height: 150px;
    background:#243D83;
    margin: 75px auto;
  }
   .b {
    width: 250px;
    height: 250px;
    background: #6592CF;
    margin: -275px auto;
    border-radius: 50%;
  }
   .c {
    width: 150px;
    height: 150px;
    background: #243D83;
    margin: 75px auto;
    border-radius: 50%;
  }
  .d {
    width: 50px;
    height: 50px;
    background: #EEB850;
    margin: -175px auto;
    border-radius: 50%;
  }